.editor {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.editor .toolbox {
  padding: 0.5em;
  background-color: #414141;
  display: flex;
  gap: 0.5em;
}

.editor .canvasbox {
  overflow: auto;
  flex: 1;
  background-color: #777;
}

.canvasbox canvas {
  width: 1000px;
  height: 500px;
}

.toolbox button {
  width: 32px;
  height: 32px;
  position: relative;
  font-size: 16px;
  border: none;
  background-color: #ccc;
  border-radius: 0.2em;
}

.toolbox button.active {
  background-color: #edbd50;
}

.toolbox input[type=file] {
  opacity: 0;
  position: absolute;
  inset: 0;
}

.toolbox select {
  border-radius: 0.2em;
  min-width: 10em;
}

